/*-------------------------------------------HOMEPAGE----------------------------------------------*/
/* Hero sektion */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.4) 0 8px 15px;

}

.hero video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: saturate(0);
}


.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.hero-text {
    margin-top: 8vw;
    position: relative;
    z-index: 2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.hero-buttons {
    margin-top: 8vw;
}

/*--------------Audio controlls----------------*/
#audio-controls {
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
}

/* Mute-knappen */
#mute-button, #pause-button {
    background: none;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
}

#mute-button:hover, #pause-button:hover {
    background: rgba(255, 255, 255, 0.3);
}


/*------------info boxes------------------*/

/* Info-boxar */
.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: 5vw auto;
    justify-content: space-between;
}

.info-box {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 90%;
    height: 26vw;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
}

.info-box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    width: 100%;
}

.info-text {
    padding: 10%;
    text-align: center;
    font-size: 1.2vw;
    color: white;
}

.info-button-box {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    padding-bottom: 2vw;
}

.tint {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Mörk overlay */
    text-align: center;
}


/* ANLÄGGNINGAR */
.facility-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 1.8vw;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 10px 20px 10px;
    text-transform: uppercase;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.facility-link:hover {
    color: #ffc107;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 2px 1px;
    transform: translateY(-5px);
}

.facility-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    margin: auto;
    padding-bottom: 50px;
}

.facility-box {
    width: 70%;
    margin: 8vw auto;
}

#facilitys {
    scroll-margin-top: 8vw;
}

.facility {
    position: relative;
    height: 200px; /* Höjd för att matcha mockup */
    border-radius: 3px;
    overflow: hidden;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.8) 3px 1px 10px;
}

.facility img, .info-content img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ser till att bilder täcker hela boxen */
    display: block;
    filter: saturate(0);
}

/* Overlay för text */
.facility .overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Mörk overlay */
    color: white;
    padding-top: 20px;
    text-align: center;
}

.facility .overlay h3 {
    font-size: 1.5vw;
    margin: 0.5vw;
    color: #ffc91e;
}

.facility .overlay p {
    font-size: 1.1vw;
    margin: 3px 0;
}

/* About us */
.about-us {
    background: url('../pictures/om_oss_background.png') center/cover no-repeat;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5vw;
}