/*-------------------------------------------MEDLEMSKAP----------------------------------------------*/
/* Bilden som hänger */
.membership-image {
    position: absolute;
    top: 12%; /* Placerar den precis under den gula boxen */
    left: 76%; /* Centrerar den horisontellt */
    width: 200px; /* Anpassa storleken vid behov */
    z-index: 10; /* Se till att den är ovanpå andra element */
}

.membership-image img {
    width: 100%;
}

.membership-filter {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.membership-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px auto;
    flex-wrap: wrap;
    width: 80%;
}

.membership-card {
    background: white;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    display: none;

}

.membership-card.active {
    display: block;
}

.membership-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    font-size: 1.13rem;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 0.88rem;
    color: #333;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}