/*-------------träningspass-------*/
/* Dropdown-menyer */
.filter-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px auto;
    flex-wrap: wrap;

}

.date-scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    position: relative;
    width: 80%;
    overflow: hidden
}

.date-list {
    display: flex;
    gap: 10px;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 10px;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 80%;

}

.date-item {
    flex: 1 1 auto; /* Alla datum tar lika stor plats */
    text-align: center;
    background: #EAEAEA;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    min-width: 100px;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.date-item:hover {
    background: rgba(104, 104, 104, 0.7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px;
    color: var(--primary-color);
    transform: scale(1.05) translateY(-2px);
    font-weight: bold;
}

.date-item.selected {
    background: rgba(104, 104, 104, 0.7);
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 5px;
    text-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px;
    color: var(--primary-color);
    transform: scale(1.15) translateY(-2px);
    margin: 0 0.5vw 0 0.5vw;
    font-weight: bold;

}

.scroll-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.scroll-btn:hover {
    text-shadow: rgba(0, 0, 0, 0.5) 0 4px 2px;
    color: var(--primary-color);
    transform: scale(1.2) translateY(-2px);
    font-weight: bold;
}


/* Träningspass schema */
.schedule {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 5px auto;
    max-width: 90%;
}

.facility-schedule {
    display: none;

}

.facility-schedule.active {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 5px auto;
    max-width: 90%;
}

.time-slot {
    padding: 20px;
    background: #F5F5F5;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.time-slot-item {
    padding: 20px;
    background: #F5F5F5;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}


/*-------------träningsprogram--------*/
.info-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}